fastapi==0.95.2
uvicorn==0.22.0
prophet==1.1.6
cmdstanpy==1.2.5
numpy==2.2.3
pandas==2.2.3
matplotlib==3.10.0
scikit-learn==1.6.1
scipy==1.15.2
joblib==1.4.2
tqdm==4.67.1
importlib-resources==6.5.2
holidays==0.67
pillow==11.1.0
packaging==24.2
python-dateutil==2.9.0.post0
pytz==2025.1
tzdata==2025.1
threadpoolctl==3.5.0